.todo-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid black;
    margin-bottom: 2%;
    width: 80%;
    transition: 0.1s;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    width: 90%;
    min-height: 56px;
    &__description {
        font-weight: 300;
        font-size: 0.95rem;
    }
    &__title {
        font-size: 1.25rem;
        margin-bottom: 4%;
    }
    &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      }
    &__container-flex {
        width: 80%;
        text-align: left;
    }
  }

.todo-item__description-container-flex{
  display: flex;
  justify-content: space-between;
}

.todo-item__button-container-flex{ 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.todo{
  order:1;
}

.done{
  order: 2;
  background-color: #21B05C;
  & > .todo-item__container-flex > .todo-item__title {
    text-decoration: line-through;
    font-style: italic;
  }
  & > .todo-item__container-flex > .todo-item__description {
    text-decoration: line-through;
    font-style: italic;
  }
}

