.footer{
    position: absolute;
    bottom: 1vh;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding-bottom: 5px;
    font-weight: 100;
    font-size: 0.9rem;
    
    &__logo{
        height: 15px;
        width: 15px;
        margin-left: 0.4rem;
    }

    &:visited {
        text-decoration: none;
    }

    &:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after { 
        width: 100%; 
        left: 0; 
      }
}

